<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h1>{{currentCiudad.nombre}}</h1>
                <div class="thumb">
                    <img class="img-responsive img-rounded" ng-src="{{currentCiudad.img}}" ng-if="currentCiudad.img"/>
                </div>
            </div>
        <div class="col-md-3">
            <dl>
                <hr>
                <dt>Id de la Ciudad</dt>
                <dd>{{currentCiudad.id}}</dd>
                
                <hr>
                <dt>Nombre</dt>
                <dd>{{currentCiudad.nombre}}</dd>
          
                <hr>
                <dt>Viajes de Ida</dt>
                <dd ng-repeat="viajei in currentCiudad.viajeIda">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <a ui-sref="viajeDetail({viajeId: viajei.id})" class="thumb">{{viajei.name}}</a>
                </dd>
                
                <hr>
                <dt>Viajes de vuelta</dt>
                <dd ng-repeat="viajev in currentCiudad.viajeVuelta">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <a ui-sref="viajeDetail({viajeId: viajev.id})" class="thumb">{{viajev.name}}</a>
                </dd>

                </dl>
            </div>
        </div>
    </div>
</div>

