<div class="container-fluid">
    <div class="jumbotron">
        <h1>Reservas</h1>
    </div>
    <div class="col-xs-6 col-lg-4">
        <form name="form-crear">
        Pasajeros:<br>
        <input type="number" name="input-pasajeros" ng-model="campos.pas"><br>
        Precio:<br>
        <input type="number" name="input-precio" ng-model="campos.pre"><br>
        Comision:<br>
        <input type="number" name="input-comision" ng-model="campos.com"><br>
        <hr>
        <button ng-click="ctrl.confirmCreate()" class="btn btn-danger">Crear</button><br><br>
        </form>
</div>
    <div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9 col-md-12">
            <div class="row">
                <div class="col-xs-6 col-lg-4 thumb" ng-repeat="reserva in reservasRecords">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><a ui-sref="reservaDetail({reservaId: reserva.id})">ID de la reserva: {{reserva.id}}</a></h3>
                        </div>
                        <div class="panel-body">
                            <h4>Numero de pasajeros:</h4>
                            <p>{{reserva.pasajeros}}</p>
                            <h4>Precio:</h4>
                            <p>{{reserva.precio}}</p>
                            <h4>Comision:</h4>
                            <p>{{reserva.comision}}</p>
                            <button id="confirm-delete" ng-click="ctrl.confirmDelete({reservaId: reserva.id})" class="btn btn-danger">Eliminar</button>
                            <button id="confirm-edit" ng-click="ctrl.confirmEdit()" class="btn btn-info">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
