
<div class="container-fluid">

            
         
         
             <!--> <div class="col-md-2" ng-repeat="multa en multas | filter:currentUsuario.id"><-->

                <a ui-sref="multaDetail({multaId: multa.id})" class="thumb">
                    <div class="caption">
                        <p>{{multa.id}}</p>
                        <!--><ul ng-repeat="usuario en multa.usuario">
                            <li>{{usuario.nombre}}</li>
                        </ul></-->
                    </div>
                </a>

            </div>
         
           
</div> 

